#maps {
    background-color: rgba(28, 196, 52, 0.9);
    border: 3px solid black;
    border-radius: 8px;
}

.p-progressbar {
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#weapPresentTable {
    child-align: top;
}

.gameMain td {
    padding-left: 10px;
}

#gameTribute {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(247, 245, 145, 0.9);
    color: #000000;
    border: 1px solid black;
    opacity: initial;
}

.talk-box-body {
    height: 100px
}