#maps {
    background: url('../images/map.jpg') no-repeat fixed center center;
    border: 3px solid black;
    border-radius: 8px;
}

.p-progressbar {
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#weapPresentTable {
    child-align: top;
}

.gameMain td {
    padding-left: 10px;
}

#gameTribute, #gameVisitor, #gameAdmin, #createGame {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    background: url('../images/br.jpg') no-repeat fixed center center;
    color: #000000;
    border: 1px solid black;
    opacity: initial;
}

#gameVisitor td, #gameAdmin td, #createGame td {
    padding: 8px;
}

#id-1-1 {
    height: 130px;
}

#gameAdmin p {
    font-size: 15px;
    font-weight: bold;
}