img {
    height: 300px;
    width:700px
}

.homeDiv {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    background: url('../images/brown.jpg') no-repeat fixed center center;
    color: #000000;
    border: 1px solid blue;
    filter: alpha(Opacity=70);
}

canvas {
    background-color: white;
}