.shop {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(250, 253, 219, 0.9);
    color: #000000;
    border: 1px solid blue;
    filter: alpha(Opacity=70);
}

.product {
    text-align: left;
    width: 500px;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(200, 253, 242, 0.9);
    color: #000000;
    border: 1px solid blue;
    filter: alpha(Opacity=70);
}

.infoProduct, button {
    font-size: 15px;
}

.infoProduct td, #productsT td {
    padding: 4px;
}
.infoProduct td {
    width: 250px;
}

.shopImg {
    width:  150px;
    height: 150px;
}

.productName {
    font-weight: bold;
    font-size: 17px;
}

.buy {
    width: 100px;
    border-radius: 10px;
    background-color: #0001a7;
    color: white;
}

.menuButton {
    width: 150px;
}
