#skillTable {
    width: 420px;
}

#mainTable td{
   padding: 6px;
}

#userDataTable {
    width: 350px;
    text-align: left;
    border: 2px double black;
    border-collapse: collapse;
    font-size: 15px;
    margin: 4px;
}

#userDataTable td {
    padding: 5px;
    border: 2px double black;
    border-collapse: collapse;
}

#userDataTable thead {
    font-weight: bold;
    font-size: 20px;
}

#ItemPreview {
    width: 300px;
    height: 300px;
}

.hidden {
    display: none;
}

#avatar {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid brown;
}

.userLK {
    text-align: center;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(250, 253, 219, 0.9);
    border: 2px solid brown;
}

#resultSkill {
    height: 400px;
    overflow-y: scroll;
    background-color: #d4feff;
    border-radius: 10px;
}

.user {
    font-weight: bold;
}

.newTrain {
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: #d4feff;
    width: 550px;
}

.newTrain td {
    padding: 5px;
    font-size: 17px;
}

.newTrain button {
    background-color: #0001a7;
    color: white;
    border-radius: 5px;
    width: 100px;
}

.trainName {
    font-weight: bold;
}

#currentTrain {
    font-size: 20px;
}



