.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
}

.tooltip1 {
    font-size: 15px;
}

.tooltiptext1 {
    font-size: 7px;
}

.weaponImg {
    width: 80px;
    height: 80px;
}

#presents, #weaponTable {
    border-radius: 10px;
    background-color: #beefff;
}

#presents {
    padding-top: 20px;
}

.iconDiv {
    text-align: center;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #7f0676;
    color: white;
}

p {
    text-align: center;
}

.ok {
    width: 50px;
}

.weap {
    width: 70px;
}

#allPresents td {
    padding: 5px;
}